<footer style=" padding-top: 10px; padding-bottom: 10px;">
    <div class="container-fluid">
        <span class="text-muted">© 2025 NITK Sports Booking System | All Rights Reserved</span>
    </div>
</footer>